html,body{
    height: 100%;
}
body {
    font-family: Lora, sans-serif;
    font-size: 1.75em;
    margin: 0;
}
header{
    border-bottom: 1px solid #eee;
}
/* Wrapper for page content to push down footer */
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#wrap .container{
    padding-left: 60px;
    padding-right: 60px;
}
#footer{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
}
