<template name="homepage">
  <h2>How to start the fire!</h2>
  <p>If you already have Meteor, Firestarter is ready to go. Just clone it locally, run it with `meteor`, and start coding!<br>
    If not, here are the full instructions:<br><br>
    <code>
        curl https://install.meteor.com | /bin/sh<br>
        git clone https://github.com/anuragphadke19/firestarter.git myApp<br>
        cd myApp<br>
        git remote -v<br>
        git remote rm origin<br>
        git remote add origin (github or bitbucket repository URL)<br>
        meteor or meteor --port $IP:$PORT (if you are using c9.io)<br>
    </code>
    <br><br>
    <span>More details available @ <a href="https://github.com/anuragphadke19/firestarter" target="_blank">Firestarter</a></span>
  </p>
</template>